@text: #111;
@background: #eee;
@link: #911;
@linkHover: #a33;
@baseSize: 16px;
/* ================ //
// = CSS3 Helpers = //
// ================ */

/* Rounded Corners */
.borderRadius(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/* Box Shadow */
.boxShadow(@shadow) {
	-moz-box-shadow: @shadow;
	-webkit-box-shadow: @shadow;
	-o-box-shadow: @shadow;
	box-shadow: @shadow;
}

/* Top-to-Bottom Gradient */
.gradientV(@start, @end){
  background: (@start + @end) / 2;
  background-image: -moz-linear-gradient(top,  @start, @end);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
  background-image: -webkit-linear-gradient(top, @start, @end);
  background-image: -o-linear-gradient(top, @start, @end);
  background-image: linear-gradient(top, @start, @end);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  background-image: -ms-linear-gradient(top, @end, @end); // IE10
}

/* Left-to-Right Gradient */
.gradientH(@start, @end){
  background: (@start + @end) / 2;
  background-image: -moz-linear-gradient(left,  @start, @end);
  background-image: -webkit-gradient(linear, left center, right center, from(@start), to(@end));
  background-image: -webkit-linear-gradient(left center, right center, from(@start), to(@end));
  background-image: -o-linear-gradient(left, @start, @end);
  background-image: linear-gradient(left, @start, @end);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d, GradientType=1)", @start, @end);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d, GradientType=1)", @start, @end);
  background-image: -ms-linear-gradient(left, @end, @end);
}

/* Top-to-Bottom 3 Stop Gradient */
.gradientV3(@start, @middle, @middlePos, @end){
  background: (@start + @end) / 2;
  background-image: -moz-linear-gradient(top,  @start, @middle @middlePos * 1%, @end);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), color-stop(@middlePos / 100, @middle), to(@end));
  background-image: -webkit-linear-gradient(top, from(@start), color-stop(@middlePos / 100, @middle), to(@end));
  background-image: -o-linear-gradient(top, @start 0%, @middle @middlePos * 1%, @end 100%);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  background-image: linear-gradient(top, @start 0%, @middle @middlePos * 1%, @end 100%);
}

/* Left-to-Right 3 Stop Gradient */
.gradientH3(@start, @middle, @middlePos, @end){
  background: (@start + @end) / 2;
  background-image: -moz-linear-gradient(left,  @start, @middle @middlePos * 1%, @end);
  background-image: -webkit-gradient(linear, left center, right center, from(@start), color-stop(@middlePos / 100, @middle), to(@end));
  background-image: -webkit-linear-gradient(left, from(@start), color-stop(@middlePos / 100, @middle), to(@end));
  background-image: -o-linear-gradient(left, @start 0%, @middle @middlePos * 1%, @end 100%);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end);
  background-image: linear-gradient(left, @start 0%, @middle @middlePos * 1%, @end 100%);
}

/* Top-to-Bottom 4 Stop Gradient */
.gradientV4(@color1, @color2, @position2, @color3, @position3, @color4){
  background: (@color1 + @color4) / 2;
  background-image: -moz-linear-gradient(top,  @color1, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@color1), color-stop(@position2 / 100, @color2), color-stop(@position3 / 100, @color3), to(@color4));
  background-image: -webkit-linear-gradient(top, from(@color1), color-stop(@position2 / 100, @color2), color-stop(@position3 / 100, @color3), to(@color4));
  background-image: -o-linear-gradient(top, @color1 0%, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4 100%);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @color1, @color4);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @color1, @color4);
  background-image: linear-gradient(top, @color1 0%, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4 100%);
}

/* Left-to-Right 4 Stop Gradient */
.gradientH4(@color1, @color2, @position2, @color3, @position3, @color4){
  background: (@color1 + @color4) / 2;
  background-image: -moz-linear-gradient(left,  @color1, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4);
  background-image: -webkit-gradient(linear, left center, right center, from(@color1), color-stop(@position2 / 100, @color2), color-stop(@position3 / 100, @color3), to(@color4));
  background-image: -webkit-linear-gradient(left center, right center, from(@color1), color-stop(@position2 / 100, @color2), color-stop(@position3 / 100, @color3), to(@color4));
  background-image: -o-linear-gradient(left, @color1 0%, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4 100%);
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d, GradientType=1)", @color1, @color4);
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d, GradientType=1)", @color1, @color4);
  background-image: linear-gradient(left, @color1 0%, @color2 @position2 * 1%, @color3 @position3 * 1%, @color4 100%);
}


/* Transition */
.transition(@params){
  -moz-transition: @params;
  -o-transition: @params;
  -webkit-transition: @params;
  -ms-transition: @params;
  transition: @params;
}
/* Transform */
.transform(@params){
  -moz-transform: @params;
  -o-transform: @params;
  -webkit-transform: @params;
  -ms-transform: @params;
  transform: @params;
}

/* ================ //
// ==CSS-Dokument== //
// ================ */
body {
	color: @text;
	background-color: @background;
	font-size: @baseSize;
	line-height: 1.5em;
}

a {
	color: @link;
	&:hover { @linkHover }
}